/* Reset some default styles */
body, h1, p, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: url('/static/img/movie img.webp') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #fff;
    max-width: 600px;
    line-height: 1.5;
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.8em;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"], input[type="password"] {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #007bff;
}

button {
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.3);
}

span a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

span a:hover {
    text-decoration: underline;
}
